body{
    background-color: aquamarine;
    border-style: double;
}
h1{
    text-align: center;
    font-style: italic;
    color: brown;
    background-color: bisque;
}
h2{
    margin-left: 25px;
}
p{
    margin-left: 25px;
    font-size: 24px;
}